body {
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  }
.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #000000;
  height: 70px;
  position: relative;
}
.nav-list {
  display: flex;
    list-style: none;
}
.nav-item{
  display:block;
}
.nav-link {
  padding: 0 20px;
  line-height: 70px;
  text-decoration: none;
  color: aliceblue;
  font-size: 18px;
  transition: .3s;
}
html {
  scroll-behavior: smooth; 
}
.nav-item:hover {
  background: #4d2323;
  
  }
  .nav-link:hover {
    color: black;
  }
