body {
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.header {
  width: 100%;
  background: #000000;
  height: 70px;
  position: relative;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0.5rem;
}
.nav-link {
  padding: 0.5rem;
  margin: 0.5rem;
  text-decoration: none;
  color: aliceblue;
  font-size: 18px;
}
